---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import Tech from "../components/Tech.astro";
import Skills from "../components/Skills.astro";

const title = "Hồ Tiên Phong FrontEnd Developer";
const description =
  "Tôi không chỉ xây dựng website, tôi xây dựng sự tin tưởng và cảm xúc của người dùng";
---

<BaseLayout title={title} description={description}>
  <main class="main overflow-hidden">
    <Header />
    <div class="hero-about-wrapper">
      <Hero />
      <About />
    </div>
    <Projects />
    <Tech />
    <Skills />
    <Services />
  </main>

  <!-- Spline 3D Modal -->
  <div class="spline-modal overflow-hidden">
    <div class="w-full h-full scale-125">
      <spline-viewer
        url="https://prod.spline.design/RVgHNKrWQ5MfYf3F/scene.splinecode"
      ></spline-viewer>
    </div>
  </div>
  <script
    is:inline
    type="module"
    src="https://unpkg.com/@splinetool/viewer@1.12.69/build/spline-viewer.js"
  ></script>

  <script src="../scripts/animations.js"></script>
  <script src="../scripts/particles.js"></script>
</BaseLayout>
