---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import Tech from "../components/Tech.astro";

const title = "Hồ Tiên Phong FrontEnd Developer";
const description =
  "Tôi không chỉ xây dựng website, tôi xây dựng sự tin tưởng và cảm xúc của người dùng";
---

<BaseLayout title={title} description={description}>
  <main class="main overflow-hidden">
    <Header />
    <div class="hero-about-wrapper">
      <Hero />
      <About />
    </div>
    <Projects />
    <Tech />
    <Services />
  </main>
  <script src="../scripts/animations.js"></script>
  <script src="../scripts/particles.js"></script>
</BaseLayout>
