---

---

<section class="section sec-about about">
  <div class="container">
    <div class="text-animation min-h-[100vh] flex items-center justify-center">
      <div class="text-animation__text">
        Chào bạn, tôi là một Front-End Developer yêu thích sự kết hợp giữa Code
        và Nghệ thuật.
        <br />
        - 3 năm kinh nghiệm: Chuyên gia cắt giao diện, tối ưu WordPress và phù phép
        hiệu ứng Animation.
        <br />
        - 1 năm kinh nghiệm: Xây dựng ứng dụng Web hiện đại với ReactJS. Tôi không
        chỉ viết code để chạy được, tôi viết code để tạo ra những trải nghiệm người
        dùng đầy cảm hứng."
      </div>
    </div>
  </div>
</section>
