---

---

<section class="section sec-about about">
  <div class="container">
    <div class="text-animation min-h-[100vh] flex items-center justify-center">
      <div
        class="text-[1.6vw] text-animation__text max-xl:text-[2.5vw] max-md:text-[5vw] font-normal text-center text-white"
      >
        Chào bạn, tôi là một Front-End Developer <br /> yêu thích sự kết hợp giữa
        Code và Nghệ thuật.
        <br />
        <span class="text-highlight">3 năm kinh nghiệm:</span>
        <br />
        Chuyên gia cắt giao diện và phù phép hiệu ứng Animation.
        <br />
        <span class="text-highlight">1 năm kinh nghiệm:</span>
        <br /> Xây dựng ứng dụng Web hiện đại với ReactJS. <br /> Tôi không chỉ viết
        code để chạy được, <br />
        <span class="text-highlight"
          >Tôi viết code để tạo ra những trải nghiệm người dùng đầy cảm hứng</span
        >
      </div>
    </div>
  </div>
</section>
