---

---

<div class="header">
  <div class="container">
    <div class="h-full justify-between items-center flex">
      <a
        href=""
        target="_blank"
        rel="noopener noreferrer"
        class="text-6xl font-bold">HTP.DEV</a
      >

      <div class="mid-spot" onclick="document.body.classList.toggle('gold');">
      </div>
      <button class="contact-btn">
        <span class="glow"></span>
        <span class="contact-btn-content">Contact Us</span>
      </button>
      <div class="spotlight">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</div>
