---

---

<div class="header">
  <div class="container">
    <div class="h-full justify-between items-center flex">
      <a
        href=""
        target="_blank"
        rel="noopener noreferrer"
        class="text-5xl logo sm:text-6xl font-bold"></a>
      <button class="contact-btn">
        <span class="glow"></span>
        <span class="contact-btn-content">Contact Us</span>
      </button>
    </div>
  </div>
</div>
