---
import Button from "./Button.astro";
---

<header class="header">
  <div class="container">
    <div class="h-full justify-between items-center flex">
      <a
        href=""
        target="_blank"
        rel="noopener noreferrer"
        class="text-5xl logo sm:text-6xl font-bold"></a>
      <Button />
    </div>
  </div>
</header>
