---

---

<section class="section hero overflow-hidden">
  <canvas id="welcome"></canvas>
  <!-- <div class="mid-spot" onclick="document.body.classList.toggle('gold');"></div>
  <div class="spotlight">
    <div></div>
    <div></div>
    <div></div>
  </div> -->
  <div class="heroSubP">
    <p>FRONT END DEVELOPER</p>
  </div>
  <div class="heroT">
    <h2>Phong ht.dev</h2>
    <h2>Phong ht.dev</h2>
  </div>
  <p class="heroP">
    Tôi không chỉ xây dựng website, <br /> tôi xây dựng sự tin tưởng và cảm xúc của
    người dùng
  </p>
  <!-- <div class="mountains">
    <div></div>
    <div></div>
    <div></div>
  </div> -->
</section>
