---

---

<section class="section hero">
  <div class="heroSubP">
    <p>FRONT END DEVELOPER</p>
  </div>
  <div class="heroT">
    <h2>Phonght.dev</h2>
    <h2>Phonght.dev</h2>
  </div>
  <p class="heroP">
    Tôi không chỉ xây dựng website, <br /> tôi xây dựng sự tin tưởng và cảm xúc của
    người dùng
  </p>
  <div class="mountains">
    <div></div>
    <div></div>
    <div></div>
  </div>
</section>
