---

---

<section
  class="section hero fixed inset-0 flex h-screen w-full flex-col items-center justify-center text-[1.8vw] lg:text-[2vh] text-center gap-[30vw] lg:gap-[28vh] overflow-hidden"
>
  <canvas
    id="welcome"
    class="fixed top-0 left-0 w-full h-[100vh] -z-10 pointer-events-none"
  ></canvas>
  <!-- <div class="mid-spot" onclick="document.body.classList.toggle('gold');"></div>
  <div class="spotlight">
    <div></div>
    <div></div>
    <div></div>
  </div> -->
  <div class="heroSubP">
    <p class="elative mx-auto w-fit text-[2.6em] sm:text-[1.4em] text-white">
      FRONT END DEVELOPER
    </p>
  </div>

  <p class="heroP text-[2.2em] sm:text-[1.2em] text-white">
    Tôi không chỉ xây dựng website, <br /> tôi xây dựng sự tin tưởng và cảm xúc của
    người dùng
  </p>
  <!-- <div class="mountains">
    <div></div>
    <div></div>
    <div></div>
  </div> -->
</section>
